.quote-carousel {
    overflow: hidden;
    width: 100%;
    max-height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.quote-carousel-items {
    white-space: nowrap;
    transition: transform 0.8s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.quote-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* transition: transform 0.8s; */
    /* animation-duration: 0.8s;
    animation-name: fade;
    animation-timing-function: ease-in-out; */
}

/* .quote-item-hidden {
    display: none;
} */

.quote-img {
     opacity: 0.95;
     width: 100%;
     height: 30%;
     object-fit: scale-down;
     filter: blur(0.5px) brightness(70%);
     /* position: relative; */
     /* -webkit-filter: blur(8px); */
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.quote-text {
    position: absolute;
    width: 60%;
    text-align: center;
    white-space: normal;
}

.quote {
    font-size: 2.5rem;
    color: #F4FFF8;
}

.quote-credits {
    padding-top: 1rem;
    font-size: 1.4rem;
    color: #F4FFF8;
}

/* @keyframes fade {
    0% {
        opacity: 1; 
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1; 
    }
  } */

.quote-carousel-arrow {
    position: absolute;
    background: none;
    border: none;
    filter: drop-shadow(0px 0px 5px #555);
    /* width: 2rem;
    height: 2rem; */
    color: #F4FFF8;
    opacity: 0.5;
}

.quote-carousel-arrow:hover {
    cursor: pointer;
    opacity: 1;
    width: 2.5rem;
    transition: width 0.3s, opacity 0.3s;
}

.quote-carousel-arrow-left {
    left: 1rem;
}

.quote-carousel-arrow-right {
    right: 1rem;
}

.quote-carousel-buttons {
    display: flex;
    position: absolute;
    bottom: 3%;
    color: #F4FFF8;
}

.quote-carousel-button {
    background-color: #F4FFF8;
    border: none;
    height: 0.15rem;
    width: 3rem;
    /* border-radius: 50%; */
    /* border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555; */
    margin: 0 0.7rem;
}

.quote-carousel-button:hover {
    cursor: pointer;
    background-color: #F4FFF8;
    transition: background-color 0.3s;
}

.quote-carousel-button-inactive {
    background-color: rgb(160, 160, 160);
}