.countdown-title {
    font-size: 2.5rem;
    width: 80%;
    color: #4D4847;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
}

.countdown-container {
    font-size: 2.5rem;
    color: #4D4847;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto;
}

.time-container{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-text{
    font-size: 1.3rem;
}

#weeks, #days, #hours, #minutes, #seconds {
    margin: 0;
}

@media only screen and (min-width: 0px) {
    .countdown-title {
        font-size: 1.5rem;
    }
    
    .time-container{
        margin-bottom: 15px;
    }
    
    .time-text{
        font-size: 1.3rem;
    }
    
    #weeks, #days, #hours, #minutes, #seconds {
        font-size: 2.7rem;
    }
}

@media only screen and (min-width: 540px) {
    .countdown-title {
        font-size: 1.7rem;
    }
    
    .time-container{
        width: 80px;
    }
    
    .time-text{
        font-size: 1.2rem;
    }
    
    #weeks, #days, #hours, #minutes, #seconds {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 640px) {
    .countdown-title {
        font-size: 2rem;
    }
    
    .time-container{
        width: 100px;
    }
    
    .time-text{
        font-size: 1.4rem;
    }
    
    #weeks, #days, #hours, #minutes, #seconds {
        font-size: 3.3rem;
    }
}

@media only screen and (min-width: 768px) {
    .countdown-title {
        font-size: 2.2rem;
    }

    .countdown-container {
        width: 80%;
    }
    
    .time-container{
        width: 95px;
    }
    
    .time-text{
        font-size: 1.5rem;
    }
    
    #weeks, #days, #hours, #minutes, #seconds {
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 1025px) {
    .countdown-title {
        font-size: 2.2rem;
    }

    .countdown-container {
        width: 70%;
    }
    
    .time-container{
        width: 120px;
    }
    
    .time-text{
        font-size: 1.5rem;
    }
    
    #weeks, #days, #hours, #minutes, #seconds {
        font-size: 3.5rem;
    }
}

