.footer {
    background-color: #000F08;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    color: #F4FFF8;
    text-align: center;
}

/* .footer-text {
    font-size: larger;
    color: #F4FFF8;
    text-decoration: none;
    position: relative;
} */