.profile-title {
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    color: rgba(55, 51, 50);
}

.profile-container {
    margin-top: 100px;
}

.profile-picture {
    justify-content: space-evenly;
    display: flex;
}

.profile-picture button {
    border: none;
    background: none;
}

.profile {
    display: inline-flex;
    padding: 4px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.profile:hover {
    background-color: black;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.profile-active {
    display: inline-flex;
    transform: scale(1.12);
    border: 4px solid black;
    border-radius: 50%;
    box-shadow:  0px 5px 30px 0px rgba(100, 100, 111, 0.5);
    transition: transform .4s ease-in-out, box-shadow .4s ease-in-out;
}

.profile img {
    width: 300px;
    border-radius: 50%;
}

.profile-active img {
    width: 300px;
    border-radius: 50%;
}

.profile-information-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 50px;
}

.profile-information-item {
    white-space: nowrap;
    width: 100%;
}

.profile-information {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-card {
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: #F4FFF8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    padding: 30px 50px 30px 50px;
    white-space: initial;
}

.profile-name {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(55, 51, 50);
    margin-bottom: 0px;
}

.profile-current-location {
    margin-top: 0px;
    text-align: center;
    font-size: 2rem;
    color: rgba(55, 51, 50);
}

.profile-summary {
    width: 80%;
    font-size: 1.6em;
    text-align: center;
    margin: auto;
}

.profile-list {
    list-style-type: circle;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: rgba(55, 51, 50);
}

li {
    margin-bottom: 5px;
}

.profile-media {
    display: flex;
    flex-direction: row;
}

.profile-media-text {
    font-size: 1.8rem;
    color: rgba(55, 51, 50);
}

.profile-media-logo-box {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: 30px;
    align-items: center;
    justify-content: space-around;
}

#linkedin-logo {
    transform: scale(3);
    color:blue;
    transition: all .3s ease-in-out;
}

#email-logo {
    transform: scale(3);
    color:rgb(0, 191, 255);
    transition: all .3s ease-in-out;
}

#linkedin-logo:hover {
    color:rgb(0, 0, 169);
    transition: all .3s ease-in-out;
}

#email-logo:hover {
    color:rgb(0, 116, 154);
    transition: all .3s ease-in-out;
}
