#project-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-text {
    font-size: 2.5rem;
    color: #4D4847;
    text-align: center;
}