#project-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
}

#countdown-container-active {
    display: visible;
}

#countdown-container-inactive {
    display: none;
}

#placeholder-active {
    font-size: 2.5rem;
    color: #4D4847;
    text-align: center;
}

#placeholder-inactive {
    display: none;
}


@media only screen and (min-width: 380px) {
    #project-page {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 540px) {
    #project-page {
        margin-top: 80px;

    }
}

@media only screen and (min-width: 769px) {
    #project-page {
        margin-top: 95px;
    }
}
@media only screen and (min-width: 1025px) {
    #project-page {
        margin-top: 110px;
    }
}