.skills-box {
    background-color: #1C3738;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 150px;
    border-radius: 30px;
    box-shadow: inset 0 0 4vh #000F08;
}

.skills-header {
    font-size: 2.5rem;
    color: #F4FFF8;
    text-align: center;
    margin-bottom: 40px;
}

.skills-list {
    display: flex;
    list-style: none;
    width: 70%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.skills-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills-name {
    font-size: 1.8rem;
    color: #F4FFF8;
    text-align: center;
}

.skills-logo {
    font-size: 4.2rem;
}

#html-logo {
    color: orangered;
}

#css-logo {
    color: #2F539B;
}

#javascript-logo {
    color: orange;
}

#typescript-logo {
    color: #6495ED;
}

#react-logo {
    color: #e91e63;
    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#react-logo:after{
    transform:rotate(-57deg);
}

#react-logo:before{
    transform:rotate(57deg);
}

@keyframes rotate{
    100% {
      transform:rotate(360deg);
    }
}